CREATE DATABASE [baloshop]

USE [baloshop]

CREATE TABLE [category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category] [nvarchar](200) NULL,
	[status] [int] NULL,
	primary key (id)
)


CREATE TABLE [image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[image_name] [nvarchar](200) NULL,
	[status] [int] NULL,
	primary key (id)
)


CREATE TABLE [product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](200) NULL,
	[quantity] [int] NULL,
	[price] [float] NULL,
	[description] [nvarchar](2000) NULL,
	[image] [nvarchar](100) NULL,
	[create_date] [date] default getdate(),
	[status] [int] NULL,
	primary key (id)
)


CREATE TABLE [status_product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [int] NULL,
	[status] [nvarchar](100) NULL,
	primary key (id)
)


INSERT INTO category (category, status) VALUES (N'Balo', 1);
INSERT INTO category (category, status) VALUES (N'Túi tote', 1);
INSERT INTO category (category, status) VALUES (N'Túi bao tử', 1);


INSERT INTO product (category_id, code, name, quantity, price, description, image, status) VALUES (1, 'BL-001', N'SOLDIER GREEN/TAN', 10, 2000000, N'Balo vải bố dày có quai và đáy làm bằng da bò tự nhiên.<br>Một ngăn dây kéo lớn mặt trước.<br>Một ngăn dây kéo hông phải, 1 túi đắp hông trái.<br>Một ngăn dây kéo bên trong và 2 túi nhỏ.', N'soldier-green-tan.jpg', 1);
INSERT INTO product (category_id, code, name, quantity, price, description, image, status) VALUES (1, 'BL-002', N'SOLDIER CARA/BLACK', 10, 2200000, N'Balo vải bố dày có quai và đáy làm bằng da bò tự nhiên.<br>Một ngăn dây kéo lớn mặt trước.<br>Một ngăn dây kéo hông phải, 1 túi đắp hông trái.<br>Một ngăn dây kéo bên trong và 2 túi nhỏ.', N'soldier-cara-black.jpg', 1);
INSERT INTO product (category_id, code, name, quantity, price, description, image, status) VALUES (1, 'BL-003', N'SOLDIER JET/BLACK', 10, 2200000, N'Balo vải bố dày có quai và đáy làm bằng da bò tự nhiên.<br>Một ngăn dây kéo lớn mặt trước.<br>Một ngăn dây kéo hông phải, 1 túi đắp hông trái.<br>Một ngăn dây kéo bên trong và 2 túi nhỏ.', N'soldier-jet-black.jpg', 2);


INSERT INTO status_product (code, status) VALUES (1, N'Còn hàng');
INSERT INTO status_product (code, status) VALUES (2, N'Giảm giá');
INSERT INTO status_product (code, status) VALUES (3, N'Hết hàng');
