body {
    font-size: .9rem;
    color: #555;
}

.input-text-search {
    border: none;
    border-radius: 1rem 0 0 1rem
}

.products .card {
    border: none;
}

.products .status {
    position: absolute;
    z-index: 1000;
}

.products .status img {
    width: 75%;
}

.products .img {
    position: relative;
}

.products .img .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.img:hover .overlay {
    height: 25%;
}

.products .img .overlay p>a {
    color: #fff;
    position: absolute;
    font-size: .9rem;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.products .img .overlay p>a:hover {
    color: #268cf9;
    text-decoration: none;
}

.form-control {
    height: calc(1.5em + .5rem + 2px);
}

.navbar .btn {
    padding: .25rem .75rem;
    border-radius: 0 1rem 1rem 0;
    color: #fff;
}

.navbar .btn:hover {
    color: #268cf9;
    background-color: transparent;
}

.navbar .btn:focus,
.navbar .btn:target {
    outline: none;
    box-shadow: none;
}

.btn-outline-light:not(:disabled):not(.disabled).active:focus, .btn-outline-light:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-light.dropdown-toggle:focus {
    box-shadow: none;
    color: #fff;
    background-color: transparent;
}

.category a {
    display: block;
    color: #000;
    padding: 5px 0;
    text-transform: uppercase;
}

.category a:hover {
    text-decoration: none;
    color: #007bff;
}

.card a {
    display: block;
    color: #000;
}

.card a:hover {
    text-decoration: none;
    color: #007bff;
}

/* Product-details */
.product-details .info label {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
}

.product-details .description span{
    font-style: italic;
    line-height: 1.5rem;
}

.product-details ul {
    padding-left: 18px;
}

.product-details ul li {
    padding-bottom: 5px;
}

.bd-t {
    border-top: 1px solid #ccc;
}

/* Cart */
.popup-list-cart img {
    width: 40px;
}

.dropdown-menu .popup-list-cart {
    width: 300px;
}

.dropdown-toggle::after {
    display: none;
}

.f-small {
    font-size: 13px;
}

.f-small a:hover {
    text-decoration: none;
}

.table td, .table th {
    vertical-align: middle;
}


* {
    box-sizing: border-box;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: #007bff !important;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #000;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.row-image:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 25%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}